body, html {
    height: 100%;
    margin: 0;
}

.nav-extra {
    background-color: rgb(203, 58, 118);
}

.container-a {
    display: flex;
}

.main-container {
    display: flex;
    height: 100%; /* Hace que ocupe toda la altura de la ventana */
}

.left-column {
    background-color: rgb(242, 242, 158);
    width: 16.666%; /* 2 de las 12 columnas en Bootstrap, es decir, 2/12 = 16.666% */
    font-family: 'Caveat', cursive;
}

.container-left {
    font-size: 28px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 45px;
}

.precio-cont {
    font-size: 22px;
    margin-top: -15px;
}

.chk-option {
    margin-left: 35px;
}

.chk-lbl {
    margin-left: 10px;
    font-size: 23px;
}

/* Estilo general para el checkbox fancy */
.fancy-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #093463; /* Borde azul */
    border-radius: 4px; /* Borde redondeado */
    background-color: #f8f9fa; /* Fondo claro */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.fancy-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #007bff; /* Color azul de la marca */
    border-radius: 3px; /* Redondeado de la marca */
    transform: translate(-50%, -50%) scale(0); /* Escala inicial */
    transition: transform 0.2s ease-in-out; /* Transici칩n de la marca */
}

/* Estilo para el texto del checkbox */
.checkbox-label {
    margin-left: 10px; /* Espacio entre el checkbox y el texto */
    cursor: pointer;
    font-size: 16px; /* Tama침o de fuente */
    color: #333; /* Color de texto */
}

/* Estilo cuando el checkbox est치 marcado */
input[type="checkbox"]:checked + .fancy-checkbox::after {
    transform: translate(-50%, -50%) scale(1); /* Escala al tama침o completo */
}

/* Ocultamos el checkbox original */
input[type="checkbox"] {
    display: none;
}

.right-column {
    flex: 1; /* Resto del espacio */
    background-color: white;
    font-family: 'Caveat', cursive;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.card-styles {
    border: none; /* Quita el borde */
    box-shadow: none;
}

.card-container {
    margin: 8px;
}

footer {
    height: 40hv;
    background-color: rgb(115, 84, 145);
}

@media (max-width: 768px) {
    .container-left {
        font-size: 16px;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 25px;
    }

    .precio-cont {
        font-size: 12px;
        margin-top: -5px;
    }

    .checkbox-label {
        margin-left: 3px; /* Espacio entre el checkbox y el texto */
        cursor: pointer;
        font-size: 12px;
    }

    .chk-option {
        margin-left: 15px;
    }
}

