body, html {
    height: 100%;
    margin: 0;
}

.container-a {
    display: flex;
}

.main-container {
    display: flex;
    height: 100%; 
}

.left-column {
    background-color: rgb(242, 242, 158);
    width: 16.666%; 
    font-family: 'Raleway';
}

.container-left {
    font-size: 28px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 45px;
}

.precio-cont {
    font-size: 22px;
    margin-top: -15px;
}

.lbl-col {
    font-size: 26px;
}

.chk-option {
    margin-left: 25px;
}

.chk-lbl {
    margin-left: 10px;
    font-size: 23px;
}

.fancy-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #093463; 
    border-radius: 4px; 
    background-color: #f8f9fa; 
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.fancy-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 3px; 
    transform: translate(-50%, -50%) scale(0); /* Escala inicial */
    transition: transform 0.2s ease-in-out; /* Transición de la marca */
}

.checkbox-label {
    margin-left: 10px; 
    cursor: pointer;
    font-size: 16px; 
    color: #333;
}

input[type="checkbox"]:checked + .fancy-checkbox::after {
    transform: translate(-50%, -50%) scale(1); /* Escala al tamaño completo */
}

input[type="checkbox"] {
    display: none;
}

.right-column {
    flex: 1; /* Resto del espacio */
    background-color: white;
    font-family: 'Raleway';
    margin-bottom: 80px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 80px;
}

.card {
    border: 0px!important; /* No me toma el estilo */    
}

.card-custom-img {
    width: 100%; 
    height: auto;
    max-height: 700px; 
    max-width: 250px; 
    object-fit: cover; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-properties {
    display: flex;
    align-items: center;
    justify-content: center;
    size: 50%;
}

.card-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 44px;
    margin-top: 30px;
}

.btn {
    background-color: #AC97C0!important;
}

.buttons-page {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-opt {
    margin: 15px;
}

.divMain{
    display: grid;
    grid-template: 100% / 240px 1fr;
    grid-template-areas: "barra cartas";
    height: 100%;
    align-self: stretch;
}

.imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    grid-area: barra;   
    background-color: rgb(242, 242, 158)
}

.cartas {
    grid-area: cartas;
}

@media (max-width: 500px) {
    .divMain {
        grid-template: 550px 1fr / 100%;
        grid-template-areas: "barra"
            "cartas";
    } 
}
