:root {
    --colorFondoNav: #FF4F6F;
    --colorFondoFooter: #AC97C0;
    --colorBotonEnviar: #AC97C0;
}

.containerMain {
    display: grid;
    grid-template: 100% / 1fr 1fr;
    grid-template-areas: "form mapa";
    height: 100%;
    align-self: stretch;
}

.form {
    grid-area: form;
}

.mapa {
    grid-area: mapa;
}

/* .contenido{
    grid-area: contenido;
}
.footer{
    grid-area: footer;
} */
 
.item {
    background-color: grey;


}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*flex-direction: column; - el main no se acomoda - me queda corto*/
    min-width: 250px;

    font-family: 'Raleway', sans-serif;
    background: #f8f9fa;
}

header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 140px;
}

#footer{
    width: 100%;   
    background-color: var(--colorFondoFooter);     
    /*display: flex;
    height: 300px;     */
    margin-top: auto;
}
#ulFooter{
    font-size: 25px;
}

.navbar-background {
    background-color: var(--colorFondoNav);
}
/* .navbar{
    background-color: var(--colorFondoNav);        
} */
.navbar-toggler {
    border: none;
    color: transparent;
}

#iconoMenu {
    width: 30px;
    height: 30px;
}
#iconoMenu:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

#carrito {
    width: 35px;
    height: 35px;
}

/* @media (max-width: 1000px) {
    #navbarNavDropdown {
        display: none!important;
    }
} */
/* #footerDiv{
    background-color: var(--colorFondoFooter);
} */
@media (max-width: 1600px) {
    #navMed {
        width: 66.67%;
    }
}

/* @media (max-width: 800px) {
    #footerDiv {
        display: flex;
        justify-items: flex-start;

    }

    #logoFooter {
        display: none;
    }

    #redesFooter {
        display: none;
    }



} */

@media (max-width: 600px) {
    .containerMain {
        grid-template: 1fr 1fr / 100%;
        grid-template-areas: "form"
            "mapa";
    }
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.li {
    color: white;
}

#divForm {
    background-color: #F8FA9E;
}

#divMapa {
    background-color: white;
}

#btnConsulta {
    background-color: var(--colorBotonEnviar);
}

/* Estilos para el formulario de login */


.login-wrap {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.login-form .form-control {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1rem;
}

.login-form .form-control:focus {
    border-color: #AC97C0;
    box-shadow: 0 0 0 0.2rem rgba(172, 151, 192, 0.25);
}

.login-form .btn-primary {
    background: #AC97C0;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: none;
    height: 48px;
    transition: all 0.3s ease;
}

.login-form .btn-primary:hover,
.login-form .btn-primary:focus {
    background: #946db8;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e6e6e6;
    border-radius: 2px;
}

.checkbox-wrap input:checked~.checkmark:after {
    display: block;
}

.checkbox-wrap .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    color: #fff;
}

.checkbox-primary {
    color: #AC97C0;
}

.checkbox-primary input:checked~.checkmark {
    background-color: #AC97C0;
}

.forgot-password {
    color: #1D84B5;
    font-size: 14px;
}

.forgot-password:hover {
    color: #155d82;
    text-decoration: underline;
}


/* Estilos para el carrito */
.btn-custom-primary {
    background-color: #AC97C0;
    border-color: #AC97C0;
    color: white;
}

.btn-custom-primary:hover {
    background-color: #9A82B0;
    border-color: #9A82B0;
    color: white;
}

.btn-custom-secondary {
    background-color: #AC97C0;
    border-color: #AC97C0;
    color: white;
}

.btn-custom-secondary:hover {
    background-color: #9A82B0;
    border-color: #9A82B0;
    color: white;
}

.card-header {
    background-color: #FF4F6F;
    color: white;
}

.quantity-input {
    max-width: 60px;
}